:root {
  --grey: #e0e2df;
  --blue: #143c61;
  --sky: #61b4d9;
  --black: #222223;
  --red: #f2221c;
  --purple: #4304a3;
  --lightpurple: #5c77c7;
  --middlegrey: #768086;
  --darkgray: #5f5861;
  --darkpurple: #2b0b5b;
}
