:root {
    --c1: #e0e2df;
    --c2: #143c61;
    --c3: #61b4d9;
    --c4: #222223;
    --c5: #f2221c;
    --c6: #4304a3;
    --c7: #5c77c7;
    --c8: #768086;
    --c9: #5f5861;
    --c10: #2b0b5b;
    --c11: #15243c;
}
